body {
    
}

#banner1{
    width: 100%;
}

.principal{
    background: #CCCCCC;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    }

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.itens {
    font-style: italic;
}

.beneficios{
    background: #FFFFFF;
}

h2 {
    text-align: center;
}

ul{
    display: inline-block;
    vertical
}

#banner2{
    width: 50%;
}

/* Cores # __ __ __ 
           R  G  B
 0 = ausência de cor
 F = o máximo de cor
 Vermelho = # FF 00 00
 
 RGB: 0,1,2...255
  0 = ausência de cor
255 = o máximo de cor
rgb(255,255,255)
rgb(0,0,255)

ou o nome da cor

red, green, blue
 */